<!--Login -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <section id="viewLogin">
        <h2>Login to your account:</h2>
        <form id="formLogin">
            <label for="email">Email:</label>
            <input type="text" id="email" name="email" placeholder="Enter your Email" />
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" placeholder="Enter your Password" />
            <input type="submit" class="login" value="Login" />
        </form>
    </section>
</body>
</html>